{% extends 'posts/base.html' %}

{% block content %}
    <form id="postForm" action="{% url "posts:create_post" %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="file"
               class="filepond"
               name="filepond"
               id="filepond"
               multiple
               {% comment %}
               data-allow-reorder="true"
               data-max-file-size="3MB"
               data-max-files="3"
               {% endcomment %}
               accept="image/*,application/pdf" />
        <button type="submit" id="saveBtn" class="btn btn-primary mt-4">Save</button>
    </form>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ error|escape }}
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {{ error|escape }}
            </div>
        {% endfor %}
    {% endif %}

    <script>
        function getLocalTimestamp() {
            const now = new Date();
            const pad = (n) => String(n).padStart(2, '0');

            const year = now.getFullYear();
            const month = pad(now.getMonth() + 1);
            const day = pad(now.getDate());
            const hours = pad(now.getHours());
            const minutes = pad(now.getMinutes());
            const seconds = pad(now.getSeconds());

            return `${year}${month}${day}${hours}${minutes}${seconds}`;
        }

        document.addEventListener('DOMContentLoaded', function () {
            FilePond.registerPlugin(
                FilePondPluginFileValidateSize,
                FilePondPluginFileValidateType,
                FilePondPluginImagePreview,
                //FilePondPluginFileValidateSize,
            );

            FilePond.setOptions({
                server: null,
                allowMultiple: true,
                maxFiles: 4,
                maxFileSize: '3MB',
                credits: false,
                dropOnPage: true,
                dropOnElement: true,
            })
            const inputElement = document.querySelector('input[type="file"]');
            const pond = FilePond.create(inputElement, {
                acceptedFileTypes: ['image/*'],
                labelFileTypeNotAllowed: 'Formato de archivo inválido. Ingrese fotos o imágenes.',
            });

            const form = document.getElementById('postForm');
            form.addEventListener('submit', function (e) {
                e.preventDefault();
                let formData = new FormData(form);
                let counter = 1;
                const timestamp = getLocalTimestamp();

                pond.getFiles().forEach(fileItem => {
                    const original = fileItem.file;
                    const ext = original.name.split('.').pop();
                    const newName = `${timestamp}_${counter}.${ext}`;
                    const renamed = new File([original], newName, {
                        type: original.type,
                        lastModified: original.lastModified,
                    });
                    formData.append('filepond', renamed);
                    counter++;
                });

                fetch(form.action, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                    }
                })
                    .then(response => {
                        if (response.ok) {
                            //alert("Post created!");
                            window.location.href = "{% url 'posts:index' %}";
                        } else {
                            return response.text().then(text => {
                                console.error('Error:', text);
                                alert("There was an error: " + text);
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Unexpected error:', error);
                    });
            })
        })

    </script>
{% endblock %}